#division{
    text-align: center;
}

section {
    /*background-color: #CCCCCC;*/
    /*overflow no deja que el contenido desborde a su contenedor*/
    overflow: auto;
}

section > #imagen-derecha {
    float: left;
    margin: 0px 10px;
}

section > #imagen-izquierda {
    float: right;
    margin: 0px 10px;
}

/*Cajas flotantes*/
#cajapadre {
    width: 600px;
    border: 1px solid;
}
#caja-1 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #AAAAAA;
}
#caja-2 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #CCCCCC;
}
#caja-3 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #AAAAAA;
    }
#caja-4 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #CCCCCC;
}
.restaurar {
    clear: both;
}

/*Efecto mouse con :hover*/
#caja {
    position: relative;
    width: 365px;
    height: 274px;
    overflow: hidden;
}
#contenedor {
    position: absolute;
    top: 0px;
    width: 365px;
    height: 324px;
    transition: top 0.5s ease-in-out 0s;
}
#contenedorsuperior {
    width: 365px;
    height: 274px;
}
#contenedorinferior {
    width: 365px;
    height: 35px;
    padding-top: 15px;
    background-color: rgba(200, 200, 200, 0.8);
    text-align: center;
}
#contenedor:hover {
    top: -50px;
}

/*Columnas*/
#articulonoticias {
    width: 580px;
    padding: 10px;
    border: 1px solid;
    column-count: 2;
    column-gap: 20px;
}